.boton{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;border:1px solid #ccc;border:none;-webkit-box-shadow:1px 1px 2px #535353;-moz-box-shadow:1px 1px 2px #535353;-ms-box-shadow:1px 1px 2px #535353;-o-box-shadow:1px 1px 2px #535353;box-shadow:1px 1px 2px #535353;display:inline-block;line-height:20px;padding:4px 12px;background-color:#19a6df;background-image:-webkit-linear-gradient(top,#19a6df 0%,#0a4aac 100%);background-image:-moz-linear-gradient(top,#19a6df 0%,#0a4aac 100%);background-image:-ms-linear-gradient(top,#19a6df 0%,#0a4aac 100%);background-image:-o-linear-gradient(top,#19a6df 0%,#0a4aac 100%);background-image:linear-gradient(top,#19a6df 0%,#0a4aac 100%);font-weight:bold;color:#fff;cursor:pointer;vertical-align:middle;text-shadow:1px 1px 1px #444;}
.boton:hover{text-decoration:none}
.boton:active{position:relative;top:1px}
.boton.disabled{background:#19a6df;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none;cursor:default;text-shadow:none;}
.boton.disabled:active{top:0}
.boton-grande{-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px;padding:9px 26px;font-size:18px}
.boton-naranja{background-color:#f0b13f;background-image:-webkit-linear-gradient(top,#f0b13f 0%,#ce411b 100%);background-image:-moz-linear-gradient(top,#f0b13f 0%,#ce411b 100%);background-image:-ms-linear-gradient(top,#f0b13f 0%,#ce411b 100%);background-image:-o-linear-gradient(top,#f0b13f 0%,#ce411b 100%);background-image:linear-gradient(top,#f0b13f 0%,#ce411b 100%)}
.lh{padding:0;margin:0;}
.lh li{list-style:none;display:inline-block;*display:inline;zoom:1;}
body{background:#977f5e url("../img/fondo.gif");font:13px Arial,"Helvetica Neue",Helvetica,sans-serif}
a{color:#356AA0}
.fondo-envoltura{position:relative}
.fondo-blanco{position:absolute;top:0;height:165px;left:0;right:0;background:rgba(255,255,255,0.50);z-index:-1}
.fondo-degrade{background-color:rgba(0,0,0,0.30);background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.30) 0%,rgba(0,0,0,0.00) 100%);background-image:-moz-linear-gradient(top,rgba(0,0,0,0.30) 0%,rgba(0,0,0,0.00) 100%);background-image:-ms-linear-gradient(top,rgba(0,0,0,0.30) 0%,rgba(0,0,0,0.00) 100%);background-image:-o-linear-gradient(top,rgba(0,0,0,0.30) 0%,rgba(0,0,0,0.00) 100%);background-image:linear-gradient(top,rgba(0,0,0,0.30) 0%,rgba(0,0,0,0.00) 100%);border-top:4px solid #481e00;position:absolute;top:165px;left:0;right:0;bottom:0;z-index:-1}
.envoltura{margin:0 auto;width:960px;background:#fff;min-height:100%;-webkit-box-shadow:0 0 8px 0 rgba(103,59,0,0.49);-moz-box-shadow:0 0 8px 0 rgba(103,59,0,0.49);-ms-box-shadow:0 0 8px 0 rgba(103,59,0,0.49);-o-box-shadow:0 0 8px 0 rgba(103,59,0,0.49);box-shadow:0 0 8px 0 rgba(103,59,0,0.49);overflow-y:hidden;position:relative}
.header{padding:5px;}
.header .arriba{height:115px;}
.header .arriba .logo-container{width:202px;height:115px;position:relative;z-index:1;perspective:1000px;-webkit-perspective:1000px;cursor:pointer;}
.header .arriba .logo-container:hover .logo{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg)}
.header .arriba .logo{width:100%;height:100%;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-webkit-transition:all 1s linear;-moz-transition:all 1s linear;-ms-transition:all 1s linear;-o-transition:all 1s linear;transition:all 1s linear}
.header .arriba .logo-front{width:100%;height:100%;position:absolute;backface-visibility:hidden;-webkit-backface-visibility:hidden;-webkit-transform:rotateY(0);-moz-transform:rotateY(0);-ms-transform:rotateY(0);-o-transform:rotateY(0);transform:rotateY(0);z-index:2}
.header .arriba .logo-back{display:block;width:100%;height:100%;position:absolute;backface-visibility:hidden;-webkit-backface-visibility:hidden;-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg);background:#fae6cc;text-decoration:none;font-size:12px;z-index:1;}
.header .arriba .logo-back p{margin-top:15px;padding:0 10px;color:#000}
.header .arriba .logo-back .url{color:#f89a33;font-weight:bold}
.header .arriba .right-header{margin-left:207px;}
.header .arriba .right-header .menu-arriba{height:25px;border-bottom:1px solid #faaa3d;}
.header .arriba .right-header .menu-arriba ul{height:20px;line-height:20px;}
.header .arriba .right-header .menu-arriba ul li{margin-left:5px;}
.header .arriba .right-header .menu-arriba ul li a{color:#000;font-size:11px;text-decoration:none;}
.header .arriba .right-header .menu-arriba ul li a:hover{color:#7a3400}
.header .arriba .right-header .menu-arriba ul li a span{margin:-3px 3px}
.header .arriba .right-header .menu-arriba ul li a .icono-casa{background-position:-2px -2px}
.header .arriba .right-header .menu-arriba ul li a .icono-mapa{background-position:-22px -2px}
.header .arriba .right-header .menu-arriba ul li a .icono-mail{background-position:-42px -2px}
.header .arriba .right-header .menu-arriba ul li a .icono-globo{background-position:-62px -2px}
.header .arriba .right-header .accesos{margin-top:5px;}
.header .arriba .right-header .accesos #form-buscar{margin-top:25px;}
.header .arriba .right-header .accesos #form-buscar input[type="text"]{border:1px solid #f99916;height:30px;line-height:30px;padding:0 8px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;width:212px;-webkit-box-shadow:1px 1px 4px 0 rgba(0,0,0,0.35) inset;-moz-box-shadow:1px 1px 4px 0 rgba(0,0,0,0.35) inset;-ms-box-shadow:1px 1px 4px 0 rgba(0,0,0,0.35) inset;-o-box-shadow:1px 1px 4px 0 rgba(0,0,0,0.35) inset;box-shadow:1px 1px 4px 0 rgba(0,0,0,0.35) inset;font-weight:bold}
.header .arriba .right-header .accesos #form-buscar .boton{line-height:22px;-webkit-box-shadow:inset 1px 1px #f9c279;-moz-box-shadow:inset 1px 1px #f9c279;-ms-box-shadow:inset 1px 1px #f9c279;-o-box-shadow:inset 1px 1px #f9c279;box-shadow:inset 1px 1px #f9c279;background-color:#f99916;background-image:-webkit-linear-gradient(bottom,#f99916 0%,#ffb44d 100%);background-image:-moz-linear-gradient(bottom,#f99916 0%,#ffb44d 100%);background-image:-ms-linear-gradient(bottom,#f99916 0%,#ffb44d 100%);background-image:-o-linear-gradient(bottom,#f99916 0%,#ffb44d 100%);background-image:linear-gradient(bottom,#f99916 0%,#ffb44d 100%);border:1px solid #9c9c9c;}
.header .arriba .right-header .accesos #form-buscar .boton .icono-buscar{background-position:-82px -2px}
.header .menu{height:38px;border-bottom:2px solid #bb6c00;}
.header .menu ul{background:#f99916;height:100%;}
.header .menu ul li{border-left:1px solid #fff;float:left;}
.header .menu ul li:first-child{border-left:none}
.header .menu ul li a{color:#fff;padding:0 18px;display:inline-block;font:14px/38px "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;text-decoration:none;text-transform:uppercase;text-shadow:1px 1px 2px #333;-webkit-transition:background .3s linear;-moz-transition:background .3s linear;-ms-transition:background .3s linear;-o-transition:background .3s linear;transition:background .3s linear;}
.header .menu ul li a:hover,.header .menu ul li a.actual{background:#bb6c00}
.cuerpo{padding:0 5px;}
.cuerpo .slider-container{height:315px;position:relative;}
.cuerpo .slider-container #slider{z-index:1}
.cuerpo .slider-container .slide{position:absolute}
.cuerpo .slider-container img{display:block}
.cuerpo .slider-container p{position:absolute;left:0;bottom:25px;height:35px;padding:0 20px;background:rgba(249,143,22,0.70);font:20px/35px "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;color:#fff}

.cuerpo .slider-container .boton-prev{position:absolute;width:70px;height:50px;top:133px;left: 0;background:rgba(0,0,0,0.50);z-index:2;}
.cuerpo .slider-container .boton-prev span{margin:0 0 0 10px; width:50px; height:50px;background-position:-200px -20px;opacity:.5}

.cuerpo .slider-container .boton-next{position:absolute;width:70px;height:50px;top:133px;right:0;background:rgba(0,0,0,0.50);z-index:2;}
.cuerpo .slider-container .boton-next span{margin:0 0 0 10px;width:50px;height:50px;background-position:-150px -20px;opacity:.5}
.cuerpo .slider-container .boton-next:hover span,.cuerpo .slider-container .boton-prev:hover span{opacity:1}

.cuerpo .accesos{background:#e4d6cc;height:194px;margin-top:5px;padding:10px 0;}
.cuerpo .accesos section{background:#ffe5c9;height:190px;margin-left:10px;width:221px;border:2px solid #fff;}
/*.cuerpo .accesos section:first-child{border-color:#e4d6cc;background:none;}*/
.cuerpo .accesos section:first-child .wrapper-ext{height:100%;width:100%;display:table;}
.cuerpo .accesos section:first-child .wrapper-ext .wrapper-in{display:table-cell;vertical-align:middle;opacity:.75;-webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-ms-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out;}
.cuerpo .accesos section:first-child .wrapper-ext .wrapper-in:hover{opacity:1}
.cuerpo .accesos section>a{display:block;padding:15px;height:160px;text-decoration:none;-webkit-transition:background .3s linear;-moz-transition:background .3s linear;-ms-transition:background .3s linear;-o-transition:background .3s linear;transition:background .3s linear;}
.cuerpo .accesos section>a:hover{background:#f99916;}
.cuerpo .accesos section>a:hover h2{background:rgba(255,255,255,0.80);color:#000;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-ms-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}
.cuerpo .accesos section h2{font:18px "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;margin:0 45px 0 -15px;background:rgba(0,0,0,0.80);height:48px;line-height:48px;color:#fff;}
.cuerpo .accesos section h2 span{height:48px;width:48px;margin-top:-13px}
.cuerpo .accesos section h2 .icono-gies{background: url("../img/logo-gies_1.png"); height: 48px; width: 48px;}
.cuerpo .accesos section h2 .icono-tikary{background-position:0 -22px}
.cuerpo .accesos section h2 .icono-appam{background-position:-52px -22px}
.cuerpo .accesos section h2 .icono-tarpuy{background-position:-102px -22px}
.cuerpo .accesos section p{color:#000;text-align:justify}
.secciones .mitad{width:470px}
.secciones section header{height:24px;border-bottom:1px solid #f9c279;}
.secciones section header h2{font-family:"Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;color:#333;height:24px;line-height:24px;font-size:15px;margin:0;text-transform:uppercase;}
.secciones section header h2 span{margin:0 3px 0 0}
.secciones section header h2 .icono-diario{background-position:-102px -2px}
.secciones section header h2 .icono-accion{background-position:-142px -2px}
.secciones section header h2 .icono-megafono{background-position:-162px -2px}
.secciones section header .icono-flecha{background-position:-122px -2px;margin-top:3px}
.secciones section article{background:#c9ff82;}
.secciones section article>a{display:block;padding:15px;color:#000;text-decoration:none;-webkit-transition:background .3s ease-out;-moz-transition:background .3s ease-out;-ms-transition:background .3s ease-out;-o-transition:background .3s ease-out;transition:background .3s ease-out;}
.secciones section article>a:hover{background:#99cd55}
.secciones section article h3{margin:0}
.secciones section article .fecha{color:#7a3400;font-size:11px}
.secciones section article p{margin:0}
.secciones section article.portada>a{height:401px;overflow-x:hidden;overflow-y:auto}
.secciones section .scroller{background:#a1f5fe;position:relative;height:80px;padding:10px 0;}
.secciones section .scroller .boton-izq,.secciones section .scroller .boton-der{background:#303030;position:absolute;height:33px;width:33px;top:34px;display:table;-webkit-border-radius:17px;-moz-border-radius:17px;-ms-border-radius:17px;-o-border-radius:17px;border-radius:17px;}
.secciones section .scroller .boton-izq .wrapper-icono,.secciones section .scroller .boton-der .wrapper-icono{display:table-cell;vertical-align:middle;}
.secciones section .scroller .boton-izq .wrapper-icono span,.secciones section .scroller .boton-der .wrapper-icono span{width:30px;height:30px;opacity:.7}
.secciones section .scroller .boton-izq:hover span,.secciones section .scroller .boton-der:hover span{opacity:1}
.secciones section .scroller .boton-izq{left:10px;}
.secciones section .scroller .boton-izq .icono-flizq{background-position:-90px -70px}
.secciones section .scroller .boton-der{right:10px;}
.secciones section .scroller .boton-der .icono-flder{background-position:-120px -70px}
.secciones section .scroller .ventana{left:54px;position:absolute;overflow:hidden;width:375px;font-size:0;}
.secciones section .scroller .ventana ul{width:1250px}
.secciones section .scroller .ventana li{width:115px;margin-right:10px;height:80px;background:#303030;margin-left:0px;}
.secciones section .lnk-banner{border:1px solid #dedede;display:inline-block;}
.secciones section .lnk-banner img{display:block}
.secciones section .lnk-banner:hover{border-color:#ccc}
.secciones section ul.lista{margin:0;padding:0;}
.secciones section ul.lista li{list-style:none;margin-top:10px;}
.secciones section ul.lista li a{background:#b9c8ff;display:block;height:30px;line-height:30px;padding:0 10px;color:#000;text-decoration:none;font-weight:bold;-webkit-transition:background .3s ease-out;-moz-transition:background .3s ease-out;-ms-transition:background .3s ease-out;-o-transition:background .3s ease-out;transition:background .3s ease-out;}
.secciones section ul.lista li a:hover{background:#869be9}
.secciones section ul.lista li a span.right{background-position:-182px -2px;margin-top:7px}
.secciones section ul.logos{height:96px;}
.secciones section ul.logos li{width:190px;background:#fff;height:100%;float:left;display:table;text-align:center;}
.secciones section ul.logos li a{display:table-cell;vertical-align:middle;-webkit-transition:background .3s ease-out;-moz-transition:background .3s ease-out;-ms-transition:background .3s ease-out;-o-transition:background .3s ease-out;transition:background .3s ease-out;}
.secciones section ul.logos li a:hover{background:#dedede}
.secciones section footer{height:5px;border-bottom:1px solid #f9c279}
.secciones section.folletos{width:250px}
.secciones section.facebook{width:210px}

.main-col{width:670px;padding:10px;}

.main-col div.cuerpo2 article{padding:0px;background:#fff}

.main-col .productolist{margin-left: -15px;margin-top: -15px}
.main-col .productolist .product{margin-top: 15px; margin-left: 15px;}
.main-col .productolist .product a{display: block; text-decoration: none;border:15px solid  #ffe5c9;width: 183px;height: 183px;position: relative;overflow: hidden}
.main-col .productolist .product a:hover{border-color: #fabe6c;}
.main-col .productolist .product a p{background: rgba(0, 0, 0, 0.5);text-align: center; color: #fff; position: absolute; height: 30px; line-height: 30px; left: 0;right: 0;bottom: 0;margin: 0;transition: height .3s linear}
.main-col .productolist .product a:hover p{height: 0}

.main-col .producto h2{font-size: 20px;;margin-bottom: 5px}
.main-col article.producto{padding: 15px}
/*.main-col article p.precio{color: #bb6c00; background: #fabd7b; padding: 2px 10px; font-size: 20px; display: inline}*/

.main-col article .line-etiq{border-top: 1px solid #f99916; margin-bottom: 15px;}

.main-col article #etiq{position: absolute; margin-left: 15px;}
.main-col article p.precio{color: #fff; font-size: 14px; font-weight: bold; display: inline; position: relative; margin-left: 80px; margin-bottom: 0; margin-top: 0;font-family: arial; line-height: 24px;}

.main-col article .cpm-map{margin-bottom: 10px !important}
.main-col article img#img-cat-main{margin-bottom: 6px}
/*.main-col article .post-meta{color: #bb6c00; background: #fabd7b; padding: 5px 10px; font-size: 20px; display: inline-block; margin-bottom: 0; margin-top: 0}
.main-col article  ul.post-meta li{list-style: none; padding: 0;}
.main-col article  ul.post-meta li span{display: none}*/

.imgs{width: 380px;margin-right: 15px;}
.letras{width: 245px}
.letras p{font-style: italic; color: #2b2b2b}
.main-col article .imgs-children ul{list-style: none; padding: 0; margin: 0;}
.main-col article .imgs-children li{padding: 0;margin-top: 0px; display: inline-block; margin-right: 1px;}
.main-col article .imgs-children li a{height: 46px;width: 46px; display: inline-block; border: 2px solid #ffbb71; opacity: 0.6}
.main-col article .imgs-children li a:hover, .main-col article .imgs-children li a.actual{border: 2px solid #fca240; opacity: 1}

/*.main-col article .imgs-children{width: 130px}
.main-col article .imgs-children li:first-child{margin-top: 0}

.main-col article .imgs-children li img{margin: 0;display: block}*/

/*div.imgs-children ul li img { width: 100px; height: 100px; cursor: pointer; }*/
.main-col article .contacto-left{width: 315px; }
.main-col article .contacto-right{width: 315px; }

.main-col article .cpm-map{margin-bottom: 10px !important}

.main-col article
,.wide-col article{padding: 20px;background:#ffe5c9}
.main-col article ul li img:hover{background: #fabe6c}
/*
.main-col .submenu{background:#f99916;margin:0 20px 10px 0;width:160px;}
.main-col .submenu ul{margin:0;padding:0;}
.main-col .submenu ul li{list-style:none;border-top:1px solid #ffe5c9;padding:0;}
.main-col .submenu ul li:first-child{border-top:none}
.main-col .submenu ul li a{height:30px;line-height:30px;color:#fff;display:block;padding:0 10px;text-decoration:none;font-weight:bold;}
.main-col .submenu ul li a:hover,.main-col .submenu ul li a.actual{background:#e0860b;}
.main-col .submenu ul li a:hover span.right,.main-col .submenu ul li a.actual span.right{visibility:visible}
.main-col .submenu ul li a span.right{background-position:-200px 0;margin:5px -15px 0 0;visibility:hidden}
.main-col .submenu ul li a span.blanco{background-position:-240px 0;margin:5px -15px 0 0;visibility:hidden}
*/

.main-col .submenu{background:#ffc281;margin-bottom: 10px}
.main-col .submenu ul{margin:0;padding:0;}
.main-col .submenu ul li{float: left;list-style:none;padding:0;border-left:1px solid #fff;width: 166px;height: 30px}
.main-col .submenu ul li.first-col{border-left:none;width: 169px;}
.main-col .submenu ul li.second-row{border-top:1px solid #fff}
.main-col .submenu ul li.last{border-right:1px solid #fff}
.main-col .submenu ul li a{display: block;height:30px;line-height:30px;color:#000;text-decoration:none;font-weight:bold;text-align: center}
.main-col .submenu ul li a:hover,.main-col .submenu ul li a.actual{background:#f99916;color: #fff}

.main-col h1
,.wide-col h1{margin:0 0 0 -7px;font:28px "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;line-height:30px;padding-bottom:20px;}
.main-col h1 span
,.wide-col h1 span{color:#bb6c00}
.main-col h2{font:16px "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;margin-top: 0;text-transform: uppercase}
.main-col .fecha{font-size: 12px;color: #7A3400;display: block;margin-bottom: 1em}
.main-col p{line-height:1.5em;margin-top:.5em; text-align: justify;}
/*.main-col .propiedades{width: 500px;}*/
.main-col .link-volver{margin-bottom: 10px; margin-top: 25px;}
.main-col .link-volver a{background: #f7d0a6; padding: 8px 7px 7px; color: #000; font-weight: bold; text-decoration: none;}
.main-col .link-volver a:hover{background: #f99916;}
.main-col .link-volver a img{margin-right: 5px; margin-bottom: -3px;}
.main-col .link-volver a span{}
.main-col ul,.main-col ol{padding-left:28px;}
.main-col ul li,.main-col ol li{padding-top:5px;line-height: 1.5em; text-align: justify;}
.main-col figure,.main-col .wp-caption{position:relative;width:auto !important;}
.main-col figure.left,.main-col .wp-caption.left,.main-col figure.alignleft,.main-col .wp-caption.alignleft{float:left;margin:0 20px 10px 0}
.main-col figure.right,.main-col .wp-caption.right,.main-col figure.alignright,.main-col .wp-caption.alignright{float:right;margin:0 0 10px 20px}
.main-col figure a,.main-col .wp-caption a{display:block}
.main-col figure img,.main-col .wp-caption img{display:block}
.main-col figure figcaption,.main-col .wp-caption figcaption,.main-col figure .wp-caption-text,.main-col .wp-caption .wp-caption-text{position:absolute;left:0;right:0;bottom:0;height:30px;line-height:30px;padding:0 10px;color:#fff;font-size:12px;background:rgba(0,0,0,0.50);margin:0;}
.main-col figure figcaption span,.main-col .wp-caption figcaption span,.main-col figure .wp-caption-text span,.main-col .wp-caption .wp-caption-text span{background-position:-222px -2px;margin-right:5px}
.main-col img.alignleft{float:left;margin:0 20px 10px 0}
.main-col img.alignright{float:right;margin:0 0 10px 20px}
.main-col article audio{width: 100%;}
.lista-categoria article .lista{margin-top: 10px;padding: 0}
.lista-categoria article{margin-top: 10px;padding: 0}
.lista-categoria article:first-child{margin-top: 0}
.lista-categoria article > a{display:block;padding: 15px;text-decoration: none}
.lista-categoria article > a:hover{background: #fabe6c}
.lista-categoria article img.alignleft{margin: 0 15px 0 0}
.lista-categoria article h2
,.lista-categoria article p{color: #000;line-height: 1.3em}
.lista-categoria article h2{font-size: 18px;margin-bottom: .5em}
.lista-categoria article p{margin-bottom: 0}
.paginacion a{display: block;height: 30px;line-height: 30px;padding: 0 15px;font-weight: bold;font-size: 12px;color: #000;background: #FFE5C9;text-decoration: none}
.paginacion a:hover{background: #fabe6c}
.right-col{width:240px;margin-top:55px}
.right-col #slider-logos{width: 100%;height: 90px}
.right-col #slider-logos .slide{position: absolute;width: 100%;height: 100%}
.right-col #slider-logos .slide div{display: table;width: 100%;height: 100%}
.right-col #slider-logos .slide div a{display: table-cell;vertical-align: middle}
.right-col #slider-logos .slide div a:hover{background: #dedede}

.wide-col{padding: 10px}
.wide-col article p{line-height: 1.5em; margin-top: 0.5em; text-align: justify;}

.footer{margin:0 5px;background:#2b2929;border-top:4px solid #000;padding:15px;color:#a1a1a1;}
.footer div.left strong{color:#fff}
.footer div.left ul{margin:14px 0 0 0;padding:0;min-width:150px;}
.footer div.left ul li{list-style:none;padding-bottom:4px;}
.footer div.left ul li a{color:#a1a1a1;font-size:12px;text-decoration:none;}
.footer div.left ul li a:hover{color:#fff}
.footer div.right .iconos-sociales li{margin-left:10px;}
.footer div.right .iconos-sociales li a{width:28px;height:28px;opacity:.5;-webkit-transition:opacity .3s linear;-moz-transition:opacity .3s linear;-ms-transition:opacity .3s linear;-o-transition:opacity .3s linear;transition:opacity .3s linear;}
.footer div.right .iconos-sociales li a:hover{opacity:1}
.footer div.right .iconos-sociales li .icono-facebook{background-position:-1px -71px}
.footer div.right .iconos-sociales li .icono-twitter{background-position:-31px -71px}
.footer div.right .iconos-sociales li .icono-youtube{background-position:-61px -71px}
.footer div.right p{font-size:12px;line-height:1.5em}
.footer div.right p.creditos{font-size:11px;margin-bottom:0;}
.footer div.right p.creditos a{color:#a1a1a1;font-weight:bold;text-decoration:none;}
.footer div.right p.creditos a:hover{color:#fff}
.lt-ie9 .fondo-blanco{background:transparent;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF)";zoom:1}
.lt-ie9 .cuerpo .slider-container .slide p{background:transparent;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2F98F16,endColorstr=#B2F98F16)";zoom:1}
.lt-ie9 .cuerpo .slider-container .boton-next{background:transparent;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)";zoom:1}
.lt-ie9 .cuerpo .accesos section h2{background:transparent;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)";zoom:1}
.lt-ie9 .cuerpo .accesos section a:hover>h2{-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF)";background:transparent;zoom:1}

article table{margin-bottom: 1em}
article table tr th
,article table tr td{border: 1px #F99916 solid}
article table tr th{background: #BB6C00; color: #FFE5C9}
article table tr td{color: #2d2d2d;}
article td ul{margin: 0}